@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#topbar {
    padding: 5px;
    border-bottom: solid 1px #ccc;
    background-color: #f8f8f8;
    display: flex;
}
#topbar button i {
    font-size: 16px;
}
#topbar button i.rotate90 {
    -webkit-transform: rotateZ(90deg);
}
#topbar button i.rotate180 {
    -webkit-transform: rotateZ(180deg);
}

.tooltip {
    position: relative;
}
.tooltip span {
    position: absolute;
    padding: 8px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    width: 6em;
    top: 30px;
    left: 0;
    visibility: hidden;
    z-index: 1000;
}
.tooltip:hover span {
    visibility: visible;
}